dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# Drizzle
drizzle/meta/_journal.json
drizzle/meta/*.json

# System Files
.DS_Store
Thumbs.db

db.sqlite
